// 🎨 Colores base
$primary-color:        #E24137;
$color-rojo-claro:  #F68C65;
$secondary-color:     #F6D0A1;
$color-turquesa:    #29B9B9;
$color-turquesa-oscuro: #168090;

// 🌚 Tonos neutros
$color-fondo:       #f9f9f9;
$text-color:       #333;

// 🔤 Tipografías
$font-main: 'Inter', 'Segoe UI', sans-serif;
$border-radius: 6px;